@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logos-slider__blocks {
  animation: marquee 5s linear infinite;
}

.logos-slider__block {
  min-width: fit-content;
}

.logos-slider__blocks:hover {
  animation-play-state: paused;
}

@media (min-width: 991px) {
  .logos-slider__blocks {
    animation: marquee 10s linear infinite;
  }
}